<app-header-black></app-header-black>
<section>
  <div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="3"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="4"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="5"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="6"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="7"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="8"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="9"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="10"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="11"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="12"></li>
      <li data-bs-target="#carouselWithControls" data-bs-slide-to="13"></li>
    </ol>
    <!--================ PROCESADORES DE ALIMENTOS Y BEBIDAS ================-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">PROCESADORES DE <br>ALIMENTOS Y BEBIDAS</h2>
              <p>Un control de plagas completo y efectivo es fundamental en la industria de alimentos y bebidas, sin
                importar su modelo de negocios es necesario un proveedor profesional, experto en el manejo de plagas con
                conocimiento científico y respaldo de tecnología de avanzada; en ECOVITALI nos preparamos en ello y nos
                preocupamos por cada aspecto de las distintas fases de su proceso productivo, enfocados en entender y
                brindar un servicio compatible con las necesidades de nuestro cliente y el fiel cumplimiento de
                certificaciones, procesos o normas internacionales, somos soporte de la mejora continua de nuestros
                clientes.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/Procesadores_alimentos.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ SERVICIOS DE ALIMENTOS Y BEBIDAS ================-->
      <div class="carousel-item">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row p-3">
            <div class="col-lg-7 col-12 pe-md-5 mt-4">
              <h2 class="text-center fw-bold">SERVICIOS DE <br>ALIMENTOS Y BEBIDAS</h2>
              <p>En ECOVITALI entendemos los delicados aspectos del sector de servicio de alimentos y bebidas, por ello
                nos hemos especializado para entregarle un servicio de control de plagas con la mejor tecnología
                disponible y sistemas de gestión integradas, en ECOVITALI creamos la mejor receta para proteger su
                negocio de las peligrosas plagas.</p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/Servicio-alimentos.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ COMERCIO AL POR MAYOR ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5 d-flex justify-content-center flex-column">
              <h2 class="text-center fw-bold">COMERCIO AL POR MAYOR Y MENOR</h2>
              <p>Las plagas que pueden afectar particularmente a este sector empresarial son variadas pero gracias a
                nuestra preparación técnica y continua, son identificadas de forma eficaz y eficiente, con ello somos
                capaces de implementar las mejores técnicas correctivas y preventivas frente a las peligrosas plagas,
                convirtiendo nuestro trabajo en una de las fortalezas de los sistemas de gestión integrada de nuestros
                clientes. <br><b>En ECOVITALI no solo lo garantizamos sino que lo certificamos.</b></p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/comercio.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ SERVICIOS HOTELEROS ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">SERVICIOS HOTELEROS Y COMPLEMENTARIOS</h2>
              <p>El sector hotelero es susceptible a las plagas a causa de su entorno y exclusiva dinámica, las plagas
                pueden
                invadir de forma directa o indirecta, desde el equipaje de un huésped hasta la recepción de víveres,
                incluso
                pueden prosperar si no son controladas de forma oportuna ya que un ejemplar supone el inicio de una
                infestación. <br><b>Con ECOVITALI las plagas no tienen vacante.</b></p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/Hoteles.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ INDUSTRIA DE MATERIAL DE EMPAQUE ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">INDUSTRIA DE MATERIAL DE EMPAQUE</h2>
              <p>Los empaques son tan importantes como su contenido, pues además de la estética, las plagas pueden
                contaminar los lotes listos para su uso y con ello el preciado contenido. En ECOVITALI lo entendemos y
                tratamos a nuestro cliente del sector con la misma importancia de sus asociados, donde las plagas son
                inaceptables, trabajamos de forma continua con nuestro cliente alcanzando así la excelencia de un
                servicio compatible con las necesidades individuales. <br><b>En ECOVITALI no solo lo garantizamos, sino
                  que lo certificamos.</b>
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/empaques.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ FARMACEUTICA ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">FARMACÉUTICA Y DISTRIBUCIÓN</h2>
              <p>La industria farmacéutica es excepcional, y aunque su profesionalismo destaque entre muchos, no está
                exenta de tener problemas relacionados a las plagas. nuestro sistema de gestión integrada nos permite
                brindar un servicio de alta precisión y nos vuelve sus mejores asociados de negocios con protocolos que
                no generen riesgos de contaminación hasta un trabajo conjunto con el talento humano de nuestro cliente.
                <br><b>En ECOVITALI no solo lo garantizamos sino que lo certificamos.</b>
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/farmacias.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN URB ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN URBANIZACIONES</h2>
              <p>Cuando un bien es rentado el objetivo de uso cambia para su propietario y con ello su condición
                individual, convirtiéndolo en un empresario y el manejo del bien en un negocio; en ECOVITALI conocemos
                las diferencias técnicas y lo tratamos a nuestro cliente con sistemas integrados acorde a sus
                necesidades, gracias a nuestro sistema de gestión integrada de calidad, seguridad y distribución
                dinámico estamos en la capacidad de atender a nuestros clientes en todo el país.</p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/urbanizaciones.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN INSTALACIONES GUBERNAMENTALES ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN INSTALACIONES GUBERNAMENTALES</h2>
              <p>Cuando un bien es rentado el objetivo de uso cambia para su propietario y con ello su condición
                individual, convirtiéndolo en un empresario y el manejo del bien en un negocio; en ECOVITALI conocemos
                las diferencias técnicas y lo tratamos a nuestro cliente con sistemas integrados acorde a sus
                necesidades, gracias a nuestro sistema de gestión integrada de calidad, seguridad y distribución
                dinámico estamos en la capacidad de atender a nuestros clientes en todo el país.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/Gubernamentales.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN HOSPITALES ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE <br>PLAGAS EN HOSPITALES</h2>
              <p>Es suficiente con los riesgos asociados gérmenes, virus y bacterias, el sector de la salud requiere un
                servicio de control de plagas que ofrezca una solución integral y en ECOVITALI somos los mejores con un
                servicio de manejo integral de plagas - MIP sustentada en bases científicas y el soporte de nacional e
                internacional, con una metodología específica del control de plagas implementamos nuestro plan DD
                referente a tareas de desinsectación y desratización, que comprende el uso de medidas preventivas y
                correctivas, evitando la presencia de animales que pudieren constituir una plaga. <br><b>En ECOVITALI no
                  sólo lo garantizamos sino que lo certificamos.</b></p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/hospitales.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN CENTROS DE EDUCACION Y EXPOSICIÓN ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE <br>PLAGAS EN CENTROS DE EDUCACIÓN Y EXPOSICIÓN</h2>
              <p>En ECOVITALI tenemos claro que las personas son el factor más importante de la industria y por ello
                hemos diseñado una oferta de manejo integral de plagas - MIP para los centros de educación y exposición,
                ya sea por el poco uso o por el uso continuo, la presencia de plagas es una amenaza continua que debe
                ser tratada por profesionales y en ello somos los mejores, pues nuestro sistema se sustenta sobre bases
                científicas, identifica y aplica las tareas de desinsectación y desratización de forma individual como
                parte de nuestro plan DD, nuestro sistema integra medidas preventivas y correctivas de control. En
                ECOVITALI no sólo lo garantizamos sino que lo certificamos.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/escuelas.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN BODEGAS Y CENTROS DE DISTRIBUCION ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE <br>PLAGAS EN BODEGAS Y CENTROS DE DISTRIBUCIÓN</h2>
              <p>La alta exposición y riesgos asociados a las plagas en las bodegas y centros de distribución es
                permanentemente debido a las variables externas de cada sistema, en ECOVITALI lo tenemos claro y por
                ello que nos preparamos de forma permanente para brindar un servicio profesional y de alta calidad,
                desde el control de las áreas de forma preventiva con medidas de exclusión hasta el control de plagas
                sobre los productos almacenados, los sistemas de distribución cuentan con su propio sistema de control y
                trazabilidad, el MIP de ECOVITALI se sustenta sobre bases científicas y nuestra metodología es adaptable
                a las necesidades individuales de nuestros clientes. En ECOVITALI no sólo lo garantizamos sino que lo
                certificamos.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12 mt-5">
              <img src="assets/img/website/bodegas.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN LOGISTICA Y CARGA ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN LOGISTICA Y CARGA</h2>
              <p>La dinámica del sector de la logística de carga marítima o aérea nos presiona de forma constante para
                brindar un servicio de alta calidad y seguridad, adaptable a cada escenario y en ECOVITALI respondimos
                con preparación permanente con un servicio profesional de alta calidad y estrictos parámetros de
                seguridad, el MIP de ECOVITALI destaca por su diseño en base a metodologías científicas del control de
                plagas, nuestro plan detalla las tareas de desinsectación y desratización de manera independiente y
                específica con el uso de medidas preventivas y correctivas, permitiéndonos evitar la presencia de
                animales que pudieren constituir una plaga En ECOVITALI no sólo lo garantizamos sino que lo
                certificamos.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12 mt-5">
              <img src="assets/img/website/logistica.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ MANEJO INTEGRAL DE PLAGAS EN INSTITUCIONES FINANCIERAS ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row align-items-center p-3">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN INSTITUCIONES FINANCIERAS</h2>
              <p>En ECOVITALI estamos preparados para brindar un servicio profesional de alta calidad y seguridad de
                nuestros procesos, con una metodología sustentada sobre bases científicas y nuestro conocimiento
                adquirido por la experiencia en el sector, en ECOVITALI proveemos el manejo integral de plagas - MIP con
                tareas de desinsectación y desratización mediante nuestro plan DD, que comprende el uso de medidas
                preventivas y correctivas, este sistema de control permite evitar la presencia de animales que pudieren
                constituir una plaga. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/financieras.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!--================ OTROS SECTORES EMPRESARIALES ================-->
      <div class="carousel-item ">
        <div class="container" data-aos="fade-right" data-aos-delay="100">
          <div class="row p-3 align-content-center align-items-center">
            <div class="col-lg-7 col-12 pe-md-5">
              <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN OTROS SECTORES EMPRESARIALES</h2>
              <p>En ECOVITALI estamos preparados para brindar un servicio profesional de alta calidad y seguridad de
                nuestros procesos, con una metodología sustentada sobre bases científicas y nuestro conocimiento
                adquirido por la experiencia en el sector, en ECOVITALI proveemos el manejo integral de plagas - MIP con
                tareas de desinsectación y desratización mediante nuestro plan DD, que comprende el uso de medidas
                preventivas y correctivas, este sistema de control permite evitar la presencia de animales que pudieren
                constituir una plaga. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
              </p>
              <div class="d-flex justify-content-center">
                <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <img src="assets/img/website/otros.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/banner-12años.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="p-5">
          <p class="fw-semibold">En <b>ECOVITALI</b>, aseguramos la seguridad y calidad en la industria de alimentos y
            bebidas mediante un enfoque científico. Ofrecemos programas personalizados, documentación detallada y apoyo
            en auditorías para proteger entornos sensibles. No solo garantizamos, sino que certificamos la calidad de
            nuestros servicios.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
