<app-header-black></app-header-black>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-7 mt-3 d-flex flex-column justify-content-center align-content-center align-items-center">
      <h1 class="fw-semibold text-center text-lg-start">Esta división no está disponible en tu región por el momento.</h1>
      <h5>Serás redirigido a la página anterior en {{ counter }} segundos, o puedes regresar a la página anterior dando click en:</h5><button class="m-3 btn btn-dark" (click)="goBack()">Volver</button>
    </div>
    <div class="col-12 col-md-5 col-lg-5 align-content-end justify-content-end d-flex img-bkg p-0">
      <img class="img-fluid" [src]="divisionImage" alt="Imagen de la división">
    </div>
  </div>
</div>



