<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3">
    <div class="col-lg-7 col-12 pe-md-5 mt-4">
      <h2 class="text-center fw-bold">SERVICIOS DE <br>ALIMENTOS Y BEBIDAS</h2>
      <p>En ECOVITALI entendemos los delicados aspectos del sector de servicio de alimentos y bebidas, por ello nos hemos especializado para entregarle un servicio de control de plagas con la mejor tecnología disponible y sistemas de gestión integradas, en ECOVITALI creamos la mejor receta para proteger su negocio de las peligrosas plagas.</p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/Servicio-alimentos.png" class="img-fluid">
    </div>
  </div>
</div>

<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/banner-12años.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <p class="fw-semibold">En <b>ECOVITALI</b>, aseguramos la seguridad y calidad en la industria de alimentos y bebidas mediante un enfoque científico. Ofrecemos programas personalizados, documentación detallada y apoyo en auditorías para proteger entornos sensibles. No solo garantizamos, sino que certificamos la calidad de nuestros servicios.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
